<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zbie.materialsearchviewdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round123"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DefaultActivity"
            android:label="@string/title_activity_colored" >
        </activity>
        <activity
            android:name=".activity.ColoredActivity"
            android:label="@string/title_activity_default" >
        </activity>
        <activity
            android:name=".activity.VoiceActivity"
            android:label="@string/title_activity_voice" >
        </activity>
        <activity
            android:name=".activity.StickyActivity"
            android:label="@string/title_activity_sticky">
        </activity>
        <activity
            android:name=".activity.TabActivity"
            android:label="@string/title_activity_tab">
        </activity>
        <activity
            android:name=".activity.InputTypeActivity"
            android:label="@string/title_activity_input_type">
        </activity>
    </application>
</manifest>